.first-container {
  border-color: sandybrown;
}
.searchbox-container {
  border-color: blue;
}
.list-container {
  border-color: green;
}
.heading-container {
  border-color: cyan;
}
.item-container {
  border-color: red;
}
